footer.footer
  .footer__logo-area
    figure.footer__logo--truenth
  ul.nav-list
    li.nav-list__item
      a(href=locals.content.home.link) Home
    li.nav-list__item
      a(href=locals.content.about.link) About
    li.nav-list__item
      a(href=locals.content.decisionSupport.link) Decision Support
    li.nav-list__item
      a(href=locals.content.symptomTracker.link) Symptom Tracker
  ul.nav-list.nav-list--lower
    li.nav-list__item
      a(href=locals.content.prostateCancerFacts.link) Prostate Cancer Facts
  ul.nav-list.nav-list--lower
    li.nav-list__item
      a(href=locals.content.termsAndConditions.link) Terms and Conditions
    li.nav-list__item
      a(href=locals.content.legal.link) Legal
    li.nav-list__item
      a(href=locals.content.contact.link) Contact
  .footer__logo-area
    a(href='http://www.movember.com', target='_blank')
      figure.footer__logo--movember

include ../_inline-svg
