figure.nav-overlay

nav.side-nav
  figure.side-nav__close.js-close-nav
  .side-nav__inner
    h3.side-nav__heading Navigation
    ul.side-nav-items
      li.side-nav-items__item.side-nav-items__item--home
        <a href=#{locals.content.home.link}>Home<figure></figure></a>

      li.side-nav-items__item
        <a href=#{locals.content.about.link}>About TrueNTH<figure></figure></a>

      li.side-nav-items__item.side-nav-items__item--has-icon
        a(href=locals.content.decisionSupport.link)
          +svg('DS-Icon-Nav', 32, 32)
          |Decision Support<figure></figure>

      li.side-nav-items__item.side-nav-items__item--has-icon
        a(href=locals.content.symptomTracker.link)
          +svg('ST-Icon-Nav', 32, 32)
          |Symptom Tracker<figure></figure>

      li.side-nav-items__item
        <a href=#{locals.content.joinUs.link}>Join Us<figure></figure></a>

      li.side-nav-items__item
        <a href=#{locals.content.logIn.link}>Log In<figure></figure></a>

      li.side-nav-items__item
        <a href=#{locals.content.contact.link}>Contact<figure></figure></a>
