extends ../templates/layouts/default

block vars
  - var bodyClass = 'home'

block content
  .home-intro
    .intro
      img(src='/images/Home-Truck-Top-001.jpg')
      .intro__content
        p.intro__sub TrueNTH is a collective approach to improving quality of life before, during, and after treatment for prostate cancer.
        a.intro__down.js-scroll-down(data-target='.home-intro .intro')
          figure
    .module
      .accent-heading Objective N<em>o</em>1: TrueNTH Community
      p.module__copy We are here to help you navigate your prostate cancer journey.
      .more-arrow
        a.more-arrow__link.more-arrow--teal(href=locals.content.about.link)
          span More About TrueNTH <figure></figure>
      .photo-grid-container
        .photo-grid
          figure.photo-grid__item
            strong Jim Williams
            img.photo-grid__img( src="/images/Home-People-Jim.jpg")
            img.photo-grid__img--hovered( src="/images/Home-People-Jim-Over.jpg")
          figure.photo-grid__item
            strong Jon and Mark Hirsch
            img.photo-grid__img( src="/images/Home-People-Hirsch.jpg")
            img.photo-grid__img--hovered( src="/images/Home-People-Hirsch-Over.jpg")
          figure.photo-grid__item
            strong Dr. Drew Peterson
              span UROLOGIST
            img.photo-grid__img( src="/images/Home-People-Drew.jpg")
            img.photo-grid__img--hovered( src="/images/Home-People-Drew-Over.jpg")
          figure.photo-grid__item
            strong Alonzo McCann
            img.photo-grid__img( src="/images/Home-People-Alonzo.jpg")
            img.photo-grid__img--hovered(width="212", src="/images/Home-People-Alonzo-Over.jpg")
          figure.photo-grid__item
            strong Dr. Elisabeth Heath
              span ONCOLOGIST
            img.photo-grid__img( src="/images/Home-People-Elisabeth.jpg")
            img.photo-grid__img--hovered( src="/images/Home-People-Elisabeth-Over.jpg")
          figure.photo-grid__item
            strong Andrew Maguire
              span FILM MAKER
            img.photo-grid__img( src="/images/Home-People-Andrew.jpg")
            img.photo-grid__img--hovered( src="/images/Home-People-Andrew-Over.jpg")
          figure.photo-grid__item
            strong Lois Williams
            img.photo-grid__img( src="/images/Home-People-Lois.jpg")
            img.photo-grid__img--hovered( src="/images/Home-People-Lois-Over.jpg")
          figure.photo-grid__item
            strong David Perez
            img.photo-grid__img( src="/images/Home-People-David.jpg")
            img.photo-grid__img--hovered( src="/images/Home-People-David-Over.jpg")
      .button-callout
        a.button.button--large.button--teal(href=locals.content.joinUs.link) Join Us
  .module-wrap.module-wrap--watch
    img(src="/images/Home-Video-Export.jpg")
    .module-wrap--inner
      .button-callout
        a.button.button--large.button--teal(href="#") Watch
  .module-wrap.module-wrap--theme-teal
    .module
      .accent-heading Objective N<em>o</em>3: Useful Information
      h3.module__head What is Prostate Cancer?
      p.module__body Prostate cancer is the second most common cancer in men.
      p.module__body 1 in 7 men will be diagnosed with prostate cancer in their lifetime.
      p.module__body In 2015, approximately 220,800 men will be diagnosed with prostate cancer in the USA.
      .more-arrow
        a.more-arrow__link(href="#")
          span Prostate Cancer Facts <figure></figure>
  .module-wrap.module-wrap--confidence
    .module
      .accent-heading Objective N<em>o</em>6: Custom Tools – Decision Support
      h3.module__head Men have different stages of prostate cancer and have different treatment options available to them.
      .mini-boxes
        .mini-boxes__item
          .mini-box
            h5.mini-box__head Preferences
            p.mini-box__copy Understanding what is important to you
        .mini-boxes__item
          .mini-box
            h5.mini-box__head Education
            p.mini-box__copy Learning about the factors that impact your decision
        .mini-boxes__item
          .mini-box
            h5.mini-box__head Reports
            p.mini-box__copy Results to use during the visit with your doctor
      .next-down
        p.next-down__copy We have tools to help you determine which treatment option is best for you.
        figure
      .icon-box-wrap
        .icon-box-wrap__main.icon-box.icon-box--theme-compass
          .icon-box-wrap__main__left
            strong.icon-box__subhead Tool N<em>o</em>1: Post Diagnosis
            h4.icon-box__head Decision Support
            span.icon-box__lowhead Questionnaire / Education / Report
            +svg('DS-Compass', 92, 92, 'icon-box__icon')
          .icon-box-wrap__main__right
            a.icon-box__button.icon-box__button--main.icon-box__button--more-info(href=locals.content.decisionSupport.link)
              span More Info
  .module-wrap.module-wrap--symptom.module-wrap--theme-brown
    .module
      .accent-heading Objective N<em>o</em>6: Custom Tools – Symptom Tracker
      h3.module__head Managing symptoms and side effects is an important part of the prostate cancer journey.
      .mini-boxes.mini-boxes--theme-brown
        .mini-boxes__item
          .mini-box
            h5.mini-box__head Urinary Incontinence
            p.mini-box__copy Not being able to control your urine.
        .mini-boxes__item
          .mini-box
            h5.mini-box__head Sexual Health
            p.mini-box__copy Physical and emotional changes to your sex life and erectile function.
        .mini-boxes__item
          .mini-box
            h5.mini-box__head Fatigue
            p.mini-box__copy Feeling tired due to treatment for prostate cancer.
      .next-down
        p.next-down__copy We’ve created a tool to track your experience and symptoms over time and provide personal guidance.
        figure

      .icon-box-wrap
        .icon-box-wrap__main.icon-box.icon-box--theme-graph.icon-box--theme-brown.icon-box--theme-two
          .icon-box-wrap__main__left
            strong.icon-box__subhead Tool N<em>o</em>2: Monitoring
            h4.icon-box__head Symptom Tracker
            span.icon-box__lowhead Questionnaire / Reports / Tips
            +svg('ST-Graph', 92, 92, 'icon-box__icon')
          .icon-box-wrap__main__right
            a.icon-box__button.icon-box__button--main.icon-box__button--more-info(href=locals.content.symptomTracker.link)
              span More Info
  .module-wrap.module-wrap--theme-gray
    .module
      .accent-heading Objective N<em>o</em>1: TrueNTH Community
      h3.module__head Everyone has a part to play in improving the prostate cancer journey.
      p.module__body The way these tools work, the more people that join us, the better the tools will become for you and future generations.
      .button-callout
        a.button.button--large.button--teal(href=locals.content.joinUs.link) Join Us
